
---
import Layout from "../layouts/Layout.astro";
---
<Layout>
  <h1>Oops! Something went wrong.</h1>
  <p>We're sorry, but an unexpected error has occurred.</p>
</Layout>

<style>
  h1 {
    color: red;
  }
</style>